# run these commands if you are civilised enough to use tabs:
# git config filter.indent.smudge "unexpand -t2 --first-only"
# git config filter.indent.clean "expand -t2 -i"

*.c filter=indent
*.cpp filter=indent
*.h filter=indent
*.hpp filter=indent
