# run these commands if you are civilised enough to use tabs:
# git config filter.indent.smudge "unexpand -t2 --first-only"
# git config filter.indent.clean "expand -t2 -i"

src/*/*.c filter=indent
src/*/*.cpp filter=indent
src/*/*.h filter=indent
src/*/*.hpp filter=indent
